body {
    transition: background-color 0.3s, color 0.3s;
}

.ribbon {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
}

.ribbon a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.card-deck .card {
    margin-bottom: 20px;
}

.search-form {
    margin: 20px 0;
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

#notification.show {
    opacity: 1;
}

#notification.success {
    background-color: #28a745;
}

#notification.error {
    background-color: #dc3545;
}

.book_image {
    width:100%;
    aspect-ratio: 2 / 3;
    object-fit:cover;

}

.small_image {
    width:40%;
    aspect-ratio: 2 / 3;
    object-fit:cover;

}

.input-readonly {
    background-color: #5b5b5cc5; /* hellgrau wie disabled */
    color: #93a0aa;            /* dunkleres Grau */
    cursor: not-allowed;       /* zeigt, dass man nicht klicken soll */
}


.choices {
    background-color: #343a40; /* Bootstrap dark */
    color: #fff;
    
}
.choices__inner {
    background-color: #343a40; /* Bootstrap dark */
    color: #fff;
    border-color: #495057;
}

.choices__input {
    background-color: #343a40; /* Bootstrap dark */
    color: #fff;
    border-color: #495057;
}

.choices__list--dropdown {
    background-color: #343a40;
    color: white;
}

.choices__item--selectable.is-highlighted {
    background-color: #343a40;
    color: #2a2a2b;

}

.choices__item--selectable {
    background-color: #4f5255;
    color: white;
}


